language: node_js
node_js:
- "10"

services:
  - postgresql

addons:
  postgresql: "9.5"

before_script:
  - npm install
  - npm install -g jasmine
  - npm run test-init
  - psql -c 'create database teamwork;' -U postgres
  - travis_await npm run db

script:
  - npm run coverage
  
after_success:
  - npm run coveralls
